<div class="w-full pt-20 px-6">
  <% flash.each do |key, message| %>
    <div class="container mx-auto">
      <div class="mb-4 p-4 rounded-lg shadow-md <%= alert_class(key) %>">
        <p><%= message %></p>
      </div>
    </div>
  <% end %>
</div>