<header class="w-full bg-white shadow-md fixed top-0 left-0 z-10">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <h1 class="text-xl font-bold text-blue-600"><%= link_to "ItemMatch", root_path %></h1>
      <nav>
        <ul class="flex space-x-4">
          <% if user_signed_in? %>
            <li><a href="#">マイページ</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete, confirm: "本当にログアウトしますか？" }, class: "hover:underline" %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class: "text-blue-500 hover:underline" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "text-blue-500 hover:underline" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>