<header class="w-full bg-white shadow-md fixed top-0 left-0 z-10">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <h1 class="text-xl font-bold text-blue-600"><%= link_to "ItemMatch", root_path %></h1>
            <nav>
              <ul class="flex space-x-4">
                <li><a href="#" class="text-blue-500 hover:underline">ログイン</a></li>
                <li><a href="#" class="text-blue-500 hover:underline">新規登録</a></li>
              </ul>
            </nav>
    </div>
  </header>